clients.ini
clients.yaml
config.ini
/templates/invoice.html
/client_secrets.json
/token.pickle
key.pub
/venv/
/.idea/
/.git/
/.ssh/

*.pdf
*.docx
*.json
*.bat
*.pub
*.pyc
__pycache__/
__pycache__/*.pyc
__pycache__/TimeSheeter.cpython-39.pyc
uv_out.txt
.venv_old/Scripts/python.exe
